.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow {
    width: 20px;
    height: 40px;
    border: 1px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.arrow:hover {
    cursor: pointer;
    background-color: lightcyan;
}

.arrow:active {
    background-color: lightgreen;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.list {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smallcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smallcard:hover {
    cursor: pointer;
}